@font-face {
  font-family: 'HKGroteskWide';
  src: url('./assets/fonts/HKGroteskWide-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HKGroteskWide';
  src: url('./assets/fonts/HKGroteskWide-SemiBold.otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'HKGroteskWide';
  src: url('./assets/fonts/HKGroteskWide-Bold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HKGroteskWide';
  src: url('./assets/fonts/HKGroteskWide-ExtraBold.otf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'HKGroteskWide';
  src: url('./assets/fonts/HKGroteskWide-Black.otf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'HKGroteskWide';
  src: url('./assets/fonts/HKGroteskWide-Light.otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'HKGroteskWide';
  src: url('./assets/fonts/HKGroteskWide-Medium.otf');
  font-weight: 500;
  font-style: normal;
}

:root {
  font-family: 'HKGroteskWide', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  justify-content: center;
  /* min-height: 100vh; */
}

h1 {
  margin: 0 0 12px 0;
  color: #000000;
  font-family: 'HKGroteskWide', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 19vw;
  line-height: 1.0;
}

h1 + h1 {
  font-size: 9vw;
  align-self: flex-end;
  line-height: .2;
}

button {
  border: none;
  border-bottom: 2px solid #000;
  text-transform: uppercase;
  padding: 0.4em 0 0 0.8em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  color: #000;
  transition: color 0.7s ease;
}

button:hover {
  color: #646cff;
  border-color: #646cff;
  transition: all 0.4s ease-in;
}

/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

button:active {
  border: none;
  color: green;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  /* button {
    background-color: #f9f9f9;
  } */
}

.board {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.empty-square {
 display: flex;
 width: 100%;
 height: 100%;
}

.square {
  width: 3em;
  height: 3em;
}

input[type="text"], input[type="password"] {
  text-align: right;
  margin-bottom: 15px;
  border: none;
  border-bottom: 2px solid #000; /* Change color as needed */
  outline: none;
  background: transparent;
}

input::placeholder {
  font-family: 'HKGroteskWide', sans-serif;
  text-align: right;
  text-transform: uppercase;
}

.LobbySignInSignUpButton {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  opacity: 1;
  /* transition: all 1s ease-out; */
}

.LobbySignInSignUpButton.hide {
  opacity: 0;
  display: none;
}

.LobbySignInSignUpButton > div {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}

.LobbySignInSignUpButton + div {
  margin-bottom: 20px;
}

#root > div {
  display: flex;
  justify-content: right;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#root > div > div {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  width: 100%;
  height: 100%;
  opacity: 1;
  /* transition: all 1s ease; */
}

.ConnectionManager, .show-saved-games-button {
  opacity: 0 !important;
  visibility: hidden;
  margin-top: 60px;
  transition: visibility 0s 2s, opacity 2s linear;
}

.ConnectionManager.visible, .show-saved-games-button.visible {
  opacity: 1 !important;
  visibility: visible;
  margin-top: 60px;
  transition: visibility 0s, opacity 2s linear;
}

form > input {
  margin-right: 3px;
}

.BoardButtons {
  display: flex;
  flex-direction: row !important;
  position: fixed;
  top: 0;
  right: 5px;
}

.board {
  align-items: center !important;
  justify-content: center !important;

}

.Chess h1 {
  flex-grow: 1;
  flex-shrink: 3;
  font-size: calc(7.8vw* 0.9);
}

.Chess h2{
  align-items: flex-start !important;
}

.chess-buttons-status {
  color: #000;
  display: flex;
  justify-content: space-between !important;
  align-items: center !important;
  flex-direction: row !important;
  width: 100%;
  height: 100%;
}

.Chess button {
  margin: 0 2px;
  padding: 0em 0em 0 0.6em;
}

.exit-overlay {
  display: flex;
  flex-direction: row !important;
}

/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #646cff20 inset !important;
} */