TODO

when checking if the next piece is still.txt
Untitled Diagram.drawio


docker-compose.yml

node_modules/
client/blackPlayerClientLogs.txt
client/testLogs.txt
.gitignore
client/testLogHighlights.txt
server/coverage/
util/mapping/
server/src/tests/sanity.test.js

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
var/log/cfn-hup.log
var/log/cfn-init-cmd.log
var/log/cfn-init.log
var/log/cfn-wire.log
var/log/cloud-init-output.log
var/log/cloud-init.log
var/log/cron
var/log/eb-cfn-init-call.log
var/log/eb-cfn-init.log
var/log/eb-engine.log
var/log/eb-hooks.log
var/log/eb-publish.log
var/log/eb-tools.log
var/log/messages
var/log/web.stdout.log
var/log/healthd/daemon.log
var/log/nginx/access.log
var/log/nginx/error.log
server/.ssh/ChessGameNew.pem
server/.ssh/ChessGameNew.ppk
server/.ssh/ChessPair.pem
server/src/db/db.sql
server/src/db/db.sql
postgresql.log.2025-03-24-06
.ssh/ChessGameNew.ppk
.ssh/ChessPair.pem
